p{
background-color: cornflowerblue;
}

/*body{*/
/*	background-color: lightblue;*/
/*background: url("C:/Users/user/Desktop/Web-Development/2825710.gif");*/
/*background-repeat: repeat;*/
/*background-size:  cover;*/
/*}*/

body{
background: url("C:/Users/user/Desktop/Web-Development/2825710.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}