/*p{
	color: lightblue;
}

#para-2{
	color: maroon;
}

#para-3{
	color: yellowgreen;
}

#para-4{
	color: darkmagenta;
}

#para-5{
	color: orangered;
}

.head{
	color: gold;
}

.para-all{
	color: peachpuff;
}

p,h1,h5{
	color: mediumspringgreen;
}*/

*{
	color: teal;
}
